<mat-card class="matCard_block">
    <mat-card-content>
        <form [formGroup]="createAnnouncement" (ngSubmit)="submit()" autocomplete="off">
            <div class="mat-title"><h1>{{isEdit}}</h1></div>
            <div class="mat_form_box">
                <div class="mat_form_row mat_form_row_select">
                    <mat-form-field appearance="fill" >
                        <mat-label>Select Community</mat-label>
                        <mat-select required formControlName="communityId">
                            <mat-option *ngFor="let element of communities;" [value]="element.id">{{ element.communityName }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="createAnnouncement.get('communityId')!.hasError('required')"> Community Type is Required </mat-error>
                    </mat-form-field>
                </div>
                <div class="mat_form_row mat_form_row_select">
                    <mat-form-field appearance="fill" >
                        <mat-label>Type</mat-label>
                        <mat-select required formControlName="type">
                            <mat-option value="Public">Public</mat-option>
                            <mat-option value="Member">Member</mat-option>
                        </mat-select>
                        <mat-error *ngIf="createAnnouncement.get('type')!.errors"> Type is Required </mat-error>
                    </mat-form-field>
                </div>
                <div class="mat_form_row">
                    <mat-form-field>
                        <mat-label> Title: </mat-label>
                        <input matInput type="text" formControlName="title">
                        <mat-error *ngIf="createAnnouncement.get('title')!.hasError('required') ">
                            Title is Required
                        </mat-error>
                        <mat-error *ngIf="createAnnouncement.get('title')!.hasError('cannotContainSpace')">
                            Title cannot contain whitespace
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="mat_form_row">
                    <mat-form-field appearance="fill">
                        <mat-label>Description</mat-label>
                        <textarea class="textarea_mat" formControlName="description" matInput></textarea>
                        <mat-error *ngIf="createAnnouncement.get('description')!.hasError('required')"> Description is Required </mat-error>
                        <mat-error *ngIf="createAnnouncement.get('description')!.hasError('cannotContainSpace')">
                            description cannot contain whitespace
                        </mat-error>
                    </mat-form-field>
                </div>
                <mat-form-field appearance="fill">
                    <mat-label>Enter End Date</mat-label>
                    <input matInput [matDatepicker]="endDate" [min]="minDate" formControlName="endDate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                    <mat-datepicker #endDate></mat-datepicker>
                    <mat-error *ngIf="createAnnouncement.get('endDate')!.hasError('required') ">End Date is Required</mat-error>
                </mat-form-field>

                <div class="mat_form_button_sec">
                    <button class="formBtn_layout" mat-raised-button color="accent" type="submit" [disabled]="!createAnnouncement.valid">Submit</button>
                    <button class="formBtn_layout" mat-raised-button color="primary" [routerLink]="['/dashboard/announcement']">Back</button>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>
