// $primary-palette: (
//  50: #acebf1,
//  100: #95e8ef,
//  200: #67e3ee,
//  300: #40dfef,
//  400: #40dfef,
//  500: #40dfef,
//  600: #40dfef,
//  700: #08939f,
//  800: #40dfef,
//  900: #40dfef,
//  contrast: (
//    50: rgba(black, 0.87),
//    100: rgba(black, 0.87),
//    200: rgba(black, 0.87),
//    300: white,
//    400: white,
//    500: white,
//    600: white,
//    700: white,
//    800: white,
//    900: white
//  )
// );

/*  -- orange theme based color adjust -- start -- */
$primary-palette: (
 50: #FEAF42,
 100: #FEAF42,
 200: #FEAF42,
 300: #FEAF42,
 400: #FEAF42,
 500: #F88733,
 600: #F88733,
 700: #F88733,
 800: #F88733,
 900: #F88733,
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: white,
   400: white,
   500: white,
   600: white,
   700: white,
   800: white,
   900: white
 )
);
/*  -- orange theme based color adjust -- end -- */

/*$app-primary: (
  50: #acebf1,
 100: #95e8ef,
 200: #67e3ee,
 300: #40dfef,
 400: #40dfef,
 500: #40dfef,
 600: #40dfef,
 700: #08939f,
 800: #40dfef,
 900: #40dfef,
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: white,
   400: white,
   500: white,
   600: white,
   700: white,
   800: white,
   900: white
 )
);*/
