/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;


@include mat.legacy-core();

@import "./custom-theme.scss";

@include mat.all-legacy-component-themes($community_network_admin-theme);

.dark-theme {
  @include mat.all-legacy-component-colors($dark-theme);
}
@include mat.all-legacy-component-typographies($typography);

/*$material-test-primary: mat.define-palette(mat.$indigo-palette);
$material-test-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$material-test-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$material-test-theme: mat.define-light-theme((
  color: (
    primary: $material-test-primary,
    accent: $material-test-accent,
    warn: $material-test-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($material-test-theme);*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
