

mat-form-field {display: block;}

form {font-size: 20px;}

button {font-size: 20px;}
re-captcha.is-invalid > div {border: 1px solid #dc3545 !important;border-radius: 0.2rem;}

.captcha.login_captcha {display: flex; justify-content: center; margin-bottom: 15px;}

