server/express/node_modules
server/express/package-lock.json
server/express/dist
server/express/.env
server/apollo/app/languages
server/apollo/node_modules
server/apollo/package-lock.json
server/apollo/dist
server/apollo/.env
server/apollo/app/languages
server/apollo/app/config/sangaraahi-firebase-adminsdk-s8034-55cd459d3a.json
admin-panel/community_network_admin/.angular
admin-panel/community_network_admin/.vscode
admin-panel/community_network_admin/node_modules
admin-panel/community_network_admin/package-lock.json
.idea

*/app/logs/*.log
*.log

git_pull.sh

# Enviroment
admin-panel/community_network_admin/src/environments
package-lock.json
/node_modules

.qodo
