
 mat-card-title {
    text-align: center;
}
mat-card-content{
    padding: 20px;
    // padding-left: 400px;
    text-align: center;
    font-size: large !important;
}
mat-card{
    width: 100%;
    height: 100%;
    display: flow-root;
}
.content {
    height: 25px;
    width: 50%;
    text-align: center;
    float: left;
  }
.advanced-color{
    color: #3f51b5;
}
.beginner-color{
    color: #f44336;
}