<div class="listView_contBg">
    <div class="listion_header_sec">
      <div class="listing_header_left">
        <h2>Credit SMS / Emails to a Community in the list </h2>
      </div>
      <div class="listing_header_right">
        <div class="listing_header_right">
          <div class="search-bar">
            <mat-form-field>
              <mat-label> Search by community name </mat-label>
              <input matInput type="text" #search (keyup)="getAllCommunitiesSmsEmailCredit(1,search.value)">
            </mat-form-field>
            <button class="list_search_btn" mat-raised-button (click)="getAllCommunitiesSmsEmailCredit(1,search.value)" ><span
            class="icon-search"></span></button>
          </div>
        </div>
      </div>
    </div>

    <div class="table_head_function_wrap gap20">
      <div class="function_head_block">
        <h3>SMS Credit Remaining : {{saveRemainingSMSBalance ? saveRemainingSMSBalance : 0}}</h3>
        <button class="formBtn_layout" mat-raised-button color="primary" (click)="smsAddAdmin()">Add SMS Balance</button>
      </div>
      <div class="function_head_block">
        <h3>Emails Credit Remaining : {{saveRemainingEmailBalance ? saveRemainingEmailBalance : 0}}</h3>
        <button class="formBtn_layout" mat-raised-button color="primary" (click)="emailAddAdmin()">Add Emails Balance</button>
      </div>
    </div>

    <div class="listing_table_bg">
      <div class="table-responsive">
        <table mat-table [dataSource]="matTableDataSource" class="mat-elevation-z8 new_mat_table" matSort (matSortChange)="eventSortChange($event)">

          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element; let i = index;"> {{current*10-(9-i)}} </td>
          </ng-container>

          <ng-container matColumnDef="CommunityName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Community Name </th>
            <td mat-cell *matCellDef="let element">
              <div class="table_content_block">{{element.communityName ? element.communityName : "N/A"}}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="communityType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Community Type </th>
            <td mat-cell *matCellDef="let element"> {{element.communityType ? element.communityType : "N/A"}} </td>
          </ng-container>

          <ng-container matColumnDef="createBy">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
            <td mat-cell *matCellDef="let element"> {{element.ownerDetails ? element.ownerDetails.name : "N/A"}} </td>
        </ng-container>

        <ng-container matColumnDef="smsRemaining">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. of SMS Remaining </th>
          <td mat-cell *matCellDef="let element">
            <div class="table_content_block">{{element.smsCreditsRemaining ? element.smsCreditsRemaining : 0}}</div>
          </td>
      </ng-container>

        <ng-container matColumnDef="emailsRemaining">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. of Emails Remaining </th>
            <td mat-cell *matCellDef="let element">
              <div class="table_content_block">{{element.emailCreditsRemaining ? element.emailCreditsRemaining : 0}}</div>
            </td>
        </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element; let i=index">
              <div *ngIf="element.isActive;then content else other_content">here is ignored</div>
              <ng-template #content><button mat-button color="primary" class="active status_btn pointer_event_none">Active</button></ng-template>
              <ng-template #other_content><button mat-button color="warn" class="inactive status_btn pointer_event_none">Deactivated</button></ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="Actions" class="tableTd_action">
            <th mat-header-cell *matHeaderCellDef> Action Items </th>
            <td mat-cell *matCellDef="let element; let i=index">
                <button class="formBtn_layout" mat-raised-button color="primary" (click)="smsAdd(element.id,element.smsCreditsRemaining,element.communityDescription,i)" [disabled]="!element.isActive">Add SMS</button>
                <button class="formBtn_layout" mat-raised-button color="primary" (click)="emailAdd(element.id,element.emailCreditsRemaining,element.communityDescription,i)" [disabled]="!element.isActive">Add Emails</button>
                <button mat-icon-button color="primary" class="btn-orange" aria-label="Example icon button with a home icon" [disabled]="!element.isActive" (click)="edit(element.id,element.smsCreditsRemaining,element.emailCreditsRemaining,element.communityDescription, i)">
                  <mat-icon >edit</mat-icon>
                </button>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div class="table_no_record" *ngIf="total === 0">No records found</div>
    </div>
    <ng-template [ngIf]="total !== 0">
      <div class="list_pagination">
        <app-pagination [current]="current" [total]="total" (goTo)="onGoTo($event)" (next)="onNext($event)" (previous)="onPrevious($event)"></app-pagination>
      </div>
    </ng-template>
</div>




