@use "@angular/material" as mat;
@import '../../../../../custom-theme.scss';
:host {
  display: block;
  outline: none;

  .mat-list-item.active {
    background-color: mat.get-color-from-palette($community_network_admin-primary, 50);
  }
  // &:hover,
  // &:focus {
  //   >.mat-list-item:not(.expanded) {
  //     background-color: mat.get-color-from-palette($community_network_admin-primary, 50) !important;
  //   }
  // }
}

.mat-list-item {
  // padding: 8px 0;
  padding: 5px 0;

  .routeIcon {
    // margin-right: 40px;
    margin-right: 12px;
  }
}


.arrow {

      width:120px;
      margin-right: -15px;
}

.point {
    position: relative;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 30px solid mat.get-color-from-palette($community_network_admin-primary, 50) !important;
     float:right;
}


