
<div class="login-container">
  <div class="login-box">
      <div class="login-logo">
          <img src="/assets/images/logo-white.png" alt="logo">
      </div>
      <mat-card class="logform_matCard_block">
          <mat-card-content>
            <form [formGroup]="forgotPassword" (ngSubmit)="submit()" autocomplete="off">
              <div class="mat-title">Please provide your registered email id</div>
              <p>
                  <mat-form-field>
                      <mat-label> Email: </mat-label>
                      <input matInput type="email" formControlName="email">
                      <mat-error *ngIf="forgotPassword.get('email')!.hasError('required')">
                          Email is Required
                      </mat-error>
                      <mat-error *ngIf="forgotPassword.get('email')!.hasError('pattern')">
                          Enter proper email format
                      </mat-error>
                  </mat-form-field>
              </p>
              <button mat-raised-button color="accent" type="submit" [disabled]="!forgotPassword.valid">Submit</button>
          </form>
          </mat-card-content>
          <div>Go to  <a class="mat-subheading-2" routerLink="/auth">Sign In</a>  page</div>
          <!-- <a class="mat-subheading-2" routerLink="/auth/forget-password">Forgot Password</a> -->
      </mat-card>

      <p>
          <!-- <button mat-raised-button type="button" (click)="loginWithGoogle()">Login with Google </button> -->
      </p>

  </div>
</div>


<!-- ----   main code ----  -->
<!--
<div class="login_page_login_page_bg">
    <div class="login_page_logo_sec">
        <img src="/assets/images/logo_color_box.png" alt="logo">
    </div>
    <mat-card class="logform_matCard_block">
        <mat-card-content>
            <form [formGroup]="forgotPassword" (ngSubmit)="submit()" autocomplete="off">
                <div class="mat-title">Please provide your registered email id</div>
                <p>
                    <mat-form-field>
                        <mat-label> Email: </mat-label>
                        <input matInput type="email" formControlName="email">
                        <mat-error *ngIf="forgotPassword.get('email')!.hasError('required')">
                            Email is Required
                        </mat-error>
                        <mat-error *ngIf="forgotPassword.get('email')!.hasError('pattern')">
                            Enter proper email format
                        </mat-error>
                    </mat-form-field>
                </p>
                <button mat-raised-button color="accent" type="submit" [disabled]="!forgotPassword.valid">Submit</button>
            </form>
        </mat-card-content>
        <div class="mat-subheading-2">Go to <a class="mat-subheading-2" routerLink="/auth">Sign In</a> page</div>
    </mat-card>
</div>
 -->
