.close.mat-button {
    position: sticky;
    top: 0;
    right: 0;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
    float: right;
  }

  pdf-viewer {
    height: 100vh;
    min-width: 600px;
}
