/*
.h1, h1 {
    font-family: Avenir Next,Helvetica,sans-serif;
    font-size: 27.9841px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.3;
    margin: 0 0 2rem;
    text-transform: uppercase;
    text-align: center;
}

.template-page .main-content {

    margin: 22px 33px 0px;
}
*/

.container {
    max-width: 80%;
    margin: 0px auto;
}

.static_temp_page_title h2 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 0;
    padding: 20px 0;
    text-align: center;
}
.cont_para_block  {
    padding: 20px 15px;
}
.cont_para_block h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    margin: 0 0 -5px 0;
    padding: 0 0;
    text-align: left;
}
.cont_para_block p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    margin: 0 0;
    padding: 10px 0;
    text-align: left;
}
.cont_para_block p.p_italic {
    font-style: italic;
}

.cont_para_block p.p_big_letter::first-letter {
    font-size: 200%;
    font-weight: bold;
}
.cont_para_block ul li,
.cont_para_block ol li {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    margin: 10px 0 0 10px;
    padding: 0 0;
    text-align: left;
}
.cont_para_block ol.latin_list li {
    list-style-type: lower-latin;
}
.cont_para_block ol.num_list li {
    list-style-type: decimal;
}

.cont_para_block address p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    margin: 0 0;
    padding: 0 0;
    text-align: left;
}
.cont_para_block address p::first-letter {
    font-size: unset;
    font-weight: unset;
}
.cont_para_block address p b::first-letter b {
    // font-weight: bold;
}