<div class="modal_block">
    <div class="modal_close" mat-button (click)="onNoBtnClick()">
      <img class="modal_close_img" src="../../../../assets/images/delete-button-black.png">
    </div>
    <div class="modal_header">
      <h2>Edit Sms / Email Credit</h2>

    </div>
    <div class="modal_body">
        <button mat-button class="button_appearance_none modal_btn modal_btn_yellow" color="primary" (click)="smsEdit(data)" cdkFocusInitial>Edit Sms Credit</button>
        <button mat-button class="button_appearance_none modal_btn modal_btn_yellow" color="primary" (click)="EmailEdit(data)" cdkFocusInitial>Edit Email Credit</button>
    </div>
    <!-- <div class="modal_bottom">
      <button mat-button class="button_appearance_none modal_btn modal_btn_yellow" color="primary" (click)="onYesClick()" cdkFocusInitial>Approve</button>
    </div> -->
</div>
