<div class="listView_contBg">
    <div class="listion_header_sec">
        <div class="listing_header_left">
            <h2>Approve & build your community’s marketing website</h2>
        </div>
        <!-- <div class="listing_header_right">
            <div class="search-bar">
                <mat-form-field>
                    <mat-label>Search</mat-label>
                    <input matInput type="text" #search>
                </mat-form-field>
                <button class="list_search_btn" mat-raised-button><span class="icon-search"></span></button>
            </div>
        </div> -->
    </div>

    <div class="settings-container">

        <mat-tab-group animationDuration="0ms" [selectedIndex]="selectedTab">
            <mat-tab>
                <ng-template mat-tab-label>
                    <div class="tab_approval" (click)="switchTab(0)">
                        <i class="home"></i>
                        Home
                        <!-- <span class="tab_red_dot"></span> -->
                    </div>
                </ng-template>
                <app-community-home-setting (dataEvent)="switchTab($event)" ></app-community-home-setting>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <div class="tab_approval" (click)="switchTab(1)">
                        <i class="video"></i>
                        Videos
                        <!-- <span class="tab_red_dot"></span> -->
                    </div>
                </ng-template>
                <app-community-video-setting (dataEvent)="switchTab($event)" ></app-community-video-setting>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <div class="tab_approval" (click)="switchTab(2)">
                        <i class="payment"></i>
                        Payment details
                        <!-- <span class="tab_red_dot"></span> -->
                    </div>
                </ng-template>

                <app-community-payment-setting (dataEvent)="switchTab($event)" ></app-community-payment-setting>


            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <div class="tab_approval" (click)="switchTab(3)">
                        <i class="about"></i>
                        About us
                        <!-- <span class="tab_red_dot"></span> -->
                    </div>
                </ng-template>

                <app-community-aboutus-setting (dataEvent)="switchTab($event)" ></app-community-aboutus-setting>

            </mat-tab>
        </mat-tab-group>

    </div>

    <!-- <div class="setting-btn">

        <button mat-button class="btn-red">Cancel</button>
        <button mat-button class="btn-orange">Save Homepage settings</button>
        <button mat-button class="btn-green">Save Homepage settings & Next</button>

    </div> -->


</div>
